body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url('./assets/gradient-glassmorphism-background_23-2149447863.jpg'); /* Use the image */
  background-size: cover; /* Cover entire area */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent repeating */
  height: 100vh; /* Full viewport height */
  width: 100%;
 
  display: flex; /* Flex layout */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


